<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.bs.admin.mapper.MessageMapper">
	
	<!-- 查询留言/评论 -->
	<select id="getMessageByBookId" resultMap="messageResultMap">
			select message_id, message_info, book_id 
			from t_message 
			where book_id = #{bookId}
	</select>		
	
	<!-- 映射 -->
	<resultMap type="message" id="messageResultMap">
			<id property="messageId" column="message_id"/>
			<result property="messageInfo" column="message_info"/>
			<result property="bookId" column="book_id"/>
	</resultMap>
	
</mapper>


